---
import { astroCalledServerError } from "astro:actions";
import Layout from "../../layouts/Layout.astro";
import { addEvent} from "../../js/backend.mjs";

let pbMessage ="";
if (Astro.request.method === "POST"){
    const formData = await Astro.request.formData();
    console.log(formData);
    const result = await addEvent(formData);
    pbMessage = result.message;
} else {
    console.log("GET request");
}
---

<Layout title="Ajouter un événement">
    <h1 class="text-3xl">Ajouter un événement</h1>
    {pbMessage && <p class="text-green-500">{pbMessage}</p>}

    <form class="flex flex-col p-4" method="post" action="/agenda/add" enctype="multipart/form-data">
        <input
            type="text"
            name="nom_evenement"
            placeholder="Titre"
            class="border my-4 p-2 rounded-md"
        />
        <select name="categorie" class="border my-4 p-2">
            <option value="theatre">Théâtre</option>
            <option value="musique">Musique</option>
        </select>
        <input
            type="text"
            name="extrait"
            placeholder="Extrait"
            class="border my-4 p-2 rounded-md"
        />
        <input type="date" name="date_evenement" class="border my-4 p-2 rounded-md" />
        <input
            type="submit"
            value="Ajouter"
            class="bg-slate-500 rounded-lg p-5"
        />
    </form>
</Layout>
