---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About">
    <h1>About This Site</h1>
    <p>This site is built with Astro, a modern static site generator. Feel free to explore and learn more about Astro!</p>  
</Layout>