---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";
import { getEvents } from "../js/backend.mjs";

const evenements = await getEvents();
console.log(evenements);
// const events = [
//     {
//         title: "Conférence sur les astres",
//         date: "Lundi 12 Juillet",
//         favori: true,
//     },
//     {
//         title: "Atelier sur les étoiles",
//         date: "Mardi 13 Juillet",
//         favori: false,
//     },
// ];
---

<Layout title="Agenda">
    <h1>Event agenda</h1>
    {evenements.map((event) => <EventCard event={event} />)}
</Layout>
