---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Home">
	<h1 class="text-red-500 text-5xl">Conservatoire Henri Dutilleux</h1>
	
	<Button text="test1" text2="abc"/>
	<Button text="test2"/>
	
</Layout>
